@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,400&family=Righteous&family=Roboto:wght@400;700&family=Work+Sans:wght@300;400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    line-height: 22px;
    font-weight: 400;
    color: #222222;
    font-size: 14px;
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}


/* ---- Header */
.header{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

/* ---__________________LINK MENUS_____________________________- */
section{
    display: block;
    position: relative;
}
section#menu-links-uteis{
    background-color: #003b71;
}

/* _________________________________________ */
nav{
    display: block;
}
nav.wrapper-links-uteis{
    width: 1004px;
    margin: 0 auto;
}
/* _____________________________________ */
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}
ul.lista-links-uteis{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
}

li{
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}
ul.lista-links-uteis li{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    vertical-align: baseline;
    padding: 0;
    border: 0;
    margin: 0;
}
ul.lista-links-uteis li a{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    padding: 0;
}
/* Estilo ao passar com o mouse encima do menu / menu superior */
ul.lista-links-uteis li a:hover{
    text-decoration: underline;
}
/* ------------------------- */
ul.lista-links-uteis li a.iconeAcessibilidade{
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0 5px;
    cursor: pointer;
}
/* ---- icone para escurecewr tela --- */
img{
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    width: 18px;
    
}
.iconeContraste img{
    width: 15px;
    margin-right: 3px;
    margin-left: 5px;
}

ul.lista-links-uteis li.destaque-cta a{
    color: #2264c6;
    font-weight: bold;
    padding: 0;
}

ul.listalinks-uteis li#mais-dropdown a{
    padding: 0 8px 0 0;
}
ul.listalinks-uteis li.clickDropdown a img{
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0 5px;
    cursor: pointer;
}

form{
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}
form#topoPesquisa{
    position: relative;
    width: 250px;
    margin: 20px auto;
    display: flex;
}

form#topoPesquisa input[name="s"]{
    width: 250px;
    font-family: 'Work Sans' Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    border: 1px solid rgb(255, 255, 255 ,50%);
    border-radius: 2px;
    background: none;
    padding:  6px 30px 6px 10px;
}
/* ----__________________Menu Cursos e programas/estude na UP/ Beneficios/ a Universidade____________________________ */
div{
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}
div#wrapper-menu{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    width: 1004px;
    min-height: 120px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 30px;
    margin-top: 0;
}
div#wrapper-menu .logo a img{
    width: 200px;
    height: 60px;
    margin-right: 10px;
}
.lista-de-menu{
    width: 100%;
}
.itens-menu-principal{
    display: flex;
    justify-content: flex-end;
}

.itens-menu-principal li{
    margin-left: 8px;
}

/* estilo e configuração do botão */
.itens-menu-principal li a{
    display: flex;
    position: relative;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    background: #003b77;
    border: 1px solid #003b77;
    padding: 6px 14px;
}
span{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0;
}

/* Estilo ao passar com o mouse encima do menu / menu inferior*/
.itens-menu-principal li .bot-cursos:hover{
    background: white;
    color: black;
    border: 1px solid #ffffff00;
}
/* --------_________________________________----------------- */

/* Sub menus ocultos */
div.sub-menu-oculto{
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 1004px;
    min-width: 1004px;
    max-width: 1004px;
    background: #ffffff;
    border: 2px solid #ffffff;
    padding: 15px 45px 10px 45px;
    z-index: 1;
}

.itens-menu-principal li:hover > .sub-menu-oculto{
    display: block;
}

/* Fim Sub menus ocultos */

/* --- icone que amplia menu */
.itens-menu-principal li a img{
    width: 17px;
    margin-left: 8px;
}
div.sub-menu{
    column-width: auto;
    column-count: 3;
}
.sub-menu ul{
    
    max-width: 155px;
    break-inside: avoid-column;
    padding-right: 0;
    padding-bottom: 30px;
}
.sub-menu ul li{
    margin-left: 0;
    
}
/* ------------ CONFIGURAÇÃO BANER FUNDO DA TELA ------- */
div.banner-fundo-tela{
    height: 100%;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}
div.banner img{
    width: 100%;
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}
